body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* a {
  margin: 0 auto;
  padding: 0 2em;
  text-transform : capitalize;
  background-color: darkolivegreen;
} */

.plant {
  margin: 1em;
  padding: 2em;
  text-align: left;
  text-decoration-style: wavy;
  text-transform : capitalize;
  background-color: rgb(127, 200, 9);
}

.plant_wrapper {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgb(108, 144, 46);
  /* border: 5px solid #e6e6e6; */
  padding: 25px 25px;
  margin-top: 1em;
}

.nav_bar{
  all: revert;
}